window {
margin: 0px;
border: 1px solid #88c0d0;
border-radius: 15px;
background-color: #2e3440;
}

#input {
margin: 4px;
border: none;
border-radius: 15px;
color: #d8dee9;
background-color: #3b4252;
}

#inner-box {
margin: 8px;
border: none;
background-color: #2e3440;
}

#outer-box {
margin: 8px;
border: none;
background-color: #2e3440;
}

#scroll {
margin: 1px;
border: none;
}

#text {
margin: 7px;
border: none;
color: #d8dee9;
}

#entry:selected {
background-color: #3b4252;
border: 2px solid;
border-radius: 15px;
}
